div#body {
  position:absolute;
  top:50px;
  left:0px;
  right:0px;
  bottom:0px;
  padding:10px;
}
.bold {
  font-weight:700;
}
img#logo {
  height:30px;
  margin-top:10px;
  margin-right:30px;
}
nav::selection {
  background-color:transparent;
}